<div class="list-group">
  <a href="#" class="list-group-item active">
    Celebrities
  </a>
  <% @celebrities.each do |celebrity| %>
  	<%= link_to celebrity.name, celebrity_path(celebrity), class: "list-group-item" %>
  <% end %>
</div>

<%= will_paginate @posts %>