<div class="jumbotron">
  <h1>Welcome to your closet!</h1>
</div>

<div id="pins" class="transitions-enabled">

  <% @user.hangs.each do |hang| %>
    <% post = Post.find(hang.post_id) %>
    <div class="box panel panel-default text-center">
      <%= link_to image_tag(post.image.url(:medium)), root_path %>
      <div class="panel-body">
        <%= post.title %>
      </div>
    </div>
  <% end %>
</div>