<div class="jumbotron">
    <h1>Welcome couturiers and couturieres!<br/></h1>
    <p class="lead">
      Sign up for an account, and get paid when people buy the clothes you suggest.
    </p>
    <div class="row-fluid">
      <div class="span6">
        <%= link_to "Sign In", '#', :class => "btn btn-primary btn-lg" %>
        <%= link_to "Sign Up", '#', :class => "btn btn-primary btn-lg pull-right" %>
      </div>
    </div>
</div>