<div class="paragraphs">
  <div class="row">
    <div class="span4">
      <%= image_tag("logo.png", class: "pull-left 40x40") %>
      <div class="content-heading"><h3>Experience &nbsp </h3></div>
      <p style="clear:both">Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
    </div>
  </div>
</div>


<%= image_tag("logo.png", size: "40x40") %><h1>About Us!<small>  a little info</small></h1>


<%= image_tag("shelly-schultz.jpg", class: "img-circle center-block img-responsive" ) %>
<div>
  <h3 class="text-center">Shelly Schultz, M.S.<br/>Founder, and creative genuis</h3>
</div>

<h5 class="text-left"><em>Shellys favorite movie quote about fashion:</em></h5>
<blockquote>
  <p>“This is a really volcanic ensemble you're wearing, it's really marvelous!”</p>
  <small>Duckie, <cite title="Source Title">Pretty in Pink</cite></small>
</blockquote>
<hr>
<%= image_tag("garth-gaughan.jpg", class: "img-circle center-block img-responsive" ) %>
<div>
  <h3 class="text-center">Garth Gaughan<br/>Founder, and startup addict</h3>
</div>

<h5 class="text-right"><em>Garths favorite movie quote about fashion:</em></h5>
<blockquote class="pull-right">
  <p>"A lot of the style gurus in Austria are saying like Osama Bin Laden is thee best dressed guy, do you think so?"</p>
  <small>Sascha Baron Cohen, <cite title="Source Title">Brüno</cite></small>
</blockquote>
