<div class="paragraphs">
  <div class="row">
    <div class="span4">
      <%= image_tag("logo.png", class: "pull-left 40x40") %>
      <div class="content-heading"><h1>About PinCouture </h1></div>
    </div>
  </div>
</div>
<hr>
<div class="container">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
    
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
      
        <div class="item active">
          <img src="http://placehold.it/1200x400/cccccc/ffffff">
           <div class="carousel-caption">
            <h3>Headline</h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. <a href="http://sevenx.de/demo/bootstrap-carousel/" target="_blank" class="label label-danger">Bootstrap 3 - Carousel Collection</a></p>
          </div>
        </div><!-- End Item -->
 
         <div class="item">
          <img src="http://placehold.it/1200x400/999999/cccccc">
           <div class="carousel-caption">
            <h3>Headline</h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. <a href="http://sevenx.de/demo/bootstrap-carousel/" target="_blank" class="label label-danger">Bootstrap 3 - Carousel Collection</a></p>
          </div>
        </div><!-- End Item -->
        
        <div class="item">
          <img src="http://placehold.it/1200x400/dddddd/333333">
           <div class="carousel-caption">
            <h3>Headline</h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. <a href="http://sevenx.de/demo/bootstrap-carousel/" target="_blank" class="label label-danger">Bootstrap 3 - Carousel Collection</a></p>
          </div>
        </div><!-- End Item -->
        
        <div class="item">
          <img src="http://placehold.it/1200x400/999999/cccccc">
           <div class="carousel-caption">
            <h3>Headline</h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
          </div>
        </div><!-- End Item -->
                
      </div><!-- End Carousel Inner -->


      <ul class="nav nav-pills nav-justified">
          <li data-target="#myCarousel" data-slide-to="0" class="active"><a href="#">Exciting!<small>Find celebrities outfits</small></a></li>
          <li data-target="#myCarousel" data-slide-to="1"><a href="#">Find<small>Similar outfits you can afford</small></a></li>
          <li data-target="#myCarousel" data-slide-to="2"><a href="#">Hang<small>The clothes in your 'closet'</small></a></li>
          <li data-target="#myCarousel" data-slide-to="3"><a href="#">Buy<small>At your favorite stores</small></a></li>
        </ul>


    </div><!-- End Carousel -->
</div>
<hr>
<div>
<%= image_tag("shelly-schultz.jpg", class: "img-circle center-block img-responsive" ) %>
</div>
<div>
  <h3 class="text-center">Shelly Schultz, M.S.<br/>Founder, and creative genuis</h3>
</div>

<h5 class="text-left"><em>Shellys favorite movie quote about fashion:</em></h5>
<blockquote>
  <p>“I like my money right where I can see it, hanging in my closet.”</p>
  <small>Carrie Bradshaw, <cite title="Source Title">Sex in the City</cite></small>
</blockquote>
<hr>
<div>
<%= image_tag("garth-gaughan.jpg", class: "img-circle center-block img-responsive" ) %>
</div>
<div>
  <h3 class="text-center">Garth Gaughan<br/>Founder, and startup addict</h3>
</div>

<h5 class="text-right"><em>Garths favorite movie quote about fashion:</em></h5>
<blockquote class="pull-right">
  <p>"A lot of the style gurus in Austria are saying like Osama Bin Laden is thee best dressed guy, do you think so?"</p>
  <small>Sascha Baron Cohen, <cite title="Source Title">Brüno</cite></small>
</blockquote>

<div class="container">
  <div class="row-fluid">
        <div class="span8">
          <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d106732.04111236201!2d-111.86385295!3d33.2828175!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x872a55595c22b693%3A0x386ce373138cfdf0!2sChandler%2C+AZ!5e0!3m2!1sen!2sus!4v1396625003572"></iframe>
      </div>
      
        <div class="span4">
          <h2>Where the inspiration meets the code:</h2>
        <address>
          <strong>Headquarters</strong><br>
          Chandler<br>
          AZ<br>
          USA<br>
          85224<br>
          <abbr title="Phone">P:</abbr> 4807168976
        </address>
      </div>
    </div>
</div>
