<%= image_tag "logo.png" %>
<%= image_tag("logo.png", size: "50x50", alt: "logo") %>
<%= image_tag("navigation_logo.png", size: "200x40", alt: "logo") %>
<%= image_tag("navigation_logo.png", size: "200x40", alt: "logo") %>

<h1>About US</h1>
<p>We are working on the PinCouture app</p>