<div class="page-header">
  <h1>Add Clothes</h1>
</div>

<%= bootstrap_form_for [@pin, @post], html: { multipart: true } do |f| %>
    <%= f.text_field :link %>
    <%= f.submit "Add Clothes", class: "btn btn-info" %>
<% end %>
