<div class="text-center">
	<h1>Add Cute Clothes</h1>
	<hr/>
</div>

<%= bootstrap_form_for [@pin, @post], html: { multipart: true } do |f| %>
    <%= f.text_field :link %>
    <%= f.submit "Add Clothes", class: "btn btn-info" %>
<% end %>
