#pins {
  margin: 0 auto;
}

.box {
  margin: 5px;
  width: 214px;
}

.box img {
  width: 100%;
}

.jumbotron {
  margin-bottom: 0px;
  height: 300px;
  color: white;
  text-shadow: none;
  background: #E86CE8;
}